<a href="/teams">Teams in Your League</a><br></br>

<h1><%= @team.name %></h1>
<h3>Owner: <%=@team.user.username%></h3>
<p>Quarterback: <%= @team.qb %></p>
<p>Running Back: <%= @team.rb %></p>
<p>Wide Receiver: <%= @team.wr %></p>
<p>Tight End: <%= @team.te %></p>
<p>Defense: <%= @team.defense %></p>
<p>Kicker: <%= @team.kicker %></p>
<br></br>

<h3>Edit Team</h3>
<a href="/teams/<%=@team.id%>/edit">Edit Team</a>
<br></br>

<h3>Delete Team</h3>
<form action="/teams/<%=@team.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Team">
</form>
