<h1><%= @user.username %>'s Teams</h1>
<ul>
  <%@user.teams.each do |team|%>
  <h2>Team: <%=team.name%></h2>
  <li>Quarterback: <%=team.qb%></li>
  <li>Running Back: <%=team.rb%></li>
  <li>Wide Receiver: <%=team.wr%></li>
  <li>Tight End: <%=team.te%></li>
  <li>Defense: <%=team.defense%></li>
  <li>Kicker: <%=team.kicker%></li>
  <a href="/teams/<%= team.id %>">View Team</a>
  <%end%>
</ul>
